.c-grid-wrapper {
    $row-height: 40px;
    $row-color: rgba(0,0,0,.87);
    $row-bg-color: white;
    $odd-row-bg-color: rgb(246,246,246);

    $heder-height: 40px;
    $header-color: rgba(0,0,0,.54);
    $header-can-sort-highlight-color: rgba(0,0,0,.87);
    $header-bg-color: white;
    $border-color :rgb(224,224,224);

    .c-grid {
        font-family: Open Sans,Segoe UI,Roboto,Helvetica Neue,Tahoma,Geneva,Verdana,sans-serif;
        border: 1px solid $border-color;
        width: 100%;
        overflow: hidden;
        position: relative;
        background: white;
        text-align: left;
    
        div {
            box-sizing: border-box;
        }
    
        .cg-row {
            border-bottom: 1px solid $border-color;
            overflow: hidden;
    
            .cg-h-cell, .cg-cell {
                padding: 0 8px;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                vertical-align: middle;
            }
        }
    
        @import './header.scss';
        @import './body.scss';
        @import './progress-bar.scss';
        @import './scrollbar.scss';
    }

    @import './pagination.scss';

    &.hide-grid-line {
        .c-grid {

            border: none;
            
            .cg-row {
                border: none;
                
                &.odd {
                    background: $odd-row-bg-color;
                }
            }
            
        }
        
        .cg-pagination {
            border: none;
        }
    }
}