@import './../src/styles/cgrid.scss';
@import '~codemirror/lib/codemirror.css';
// @import './../lib/index.css';

html, body {
    font-family: Open Sans,Segoe UI,Roboto,Helvetica Neue,Tahoma,Geneva,Verdana,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

    #root {
        height: 100%;
    }

    div,button,span {
        box-sizing: border-box;
    }
}

.cgrid-sample {
    width: 100%;
    height: 100%;
    display: flex;

    $accent: #f8e178;
    $text: white;
    $dark-color-1: #535358;
    $dark-color-2: #67676b;
    $dark-color-3: #444448;

    $logo-color: #f8e178;
    $button-color: rgb(107,122,139);
    
    .demo-selector {
        flex: 0 0 260px;
        display: flex;
        flex-direction: column;

        background: $dark-color-1;
        color: white;

        position: relative;

        .cg-logo {
            flex: 0 0 60px;
            line-height: 60px;
            padding-left: 15px;
            
            text-transform: uppercase;
            color: $logo-color;
            font-weight: bold;
            font-size: 30px;
        }

        .demos-container {
            flex: 1;
            overflow: auto;

            display: flex;
            flex-direction: column;
            position: relative;

            .d-item {
                display: flex;
                align-items: center;
                flex: 0 0 40px;

                font-size: 12px;
                cursor: pointer;
                margin-left: 10px;
                border-top-left-radius: 40px;
                border-bottom-left-radius: 40px;

                transition: all .3s;
                text-decoration: none;
                color: $text;

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $accent;
                    flex: 0 0 40px;
                    height: 40px;
                    font-size: 18px;
                }

                .name {
                    display: flex;
                    align-items: center;
                    height: 40px;
                }

                &:hover {
                    background: linear-gradient(90deg,#67676b,transparent);
                }

                &.selected {
                    background: $dark-color-3;
                }
            }
        }
    }

    .cg-demo {
        flex-direction: column;
        display: flex;
        flex: 1;

        .nav-bar {
            flex: 0 0 60px;
            background: $dark-color-1;
            position: relative;

            a {
                text-decoration: none;
            }

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 20px;

                color: $accent;
                cursor: pointer;
                font-size: 18px;
                margin: 10px 5px;
                float: right;

                border: none;
                outline: none;
                background: $dark-color-1;

                &:hover {
                    background: darken($dark-color-1, 5%);
                }
                
                &:active {
                    background: darken($dark-color-1, 10%);
                }
            }
        }

        .grid-or-code {
            flex: 1;
            overflow: auto;

            .actions {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;

                button {
                    border: 1px solid $button-color;
                    color: $button-color;
                    outline: none;
                    height: 30px;
                    border-radius: 15px;
                    padding: 0 15px;
                    cursor: pointer;
                    margin-right: 20px;
                }
            }
            
            .react-codemirror2,
            .CodeMirror {
                height: 100%;
            }
        }
    }
}